<% include ../partials/admin/adminHeaderOpen %>

<% include ../partials/headerClose %>
<% include ../partials/navbar-main %>

<main class="container">
  <h1>Admin Dashboard</h1>
  <hr>
  <p>Welcome to the admin section of The Ernest Cates Project. As an admin, you have access to the contextual "Admin Tools" menu which can be found in the navbar. Depending on the page that you are currently viewing, you will be able to access special tools to help you add, edit, and delete blogposts, songs, or messages.</p>
  <p>Use these special powers wisely and make this website the most entertaining place it can possibly be! And be responsible. Any posts or audio that is found to be unsavory will be removed immediately. Thanks!</p>
  <p>Ernest Cates</p>
</main>

<% include ../partials/jquery %>
<% include ../partials/flash %>
<% include ../partials/copyright %>
<% include ../partials/footer %>
