<% include ../partials/admin/adminHeaderOpen %>

<% include ../partials/headerClose %>
<% include ../partials/admin/navbar-admin %>
    <main>
      <!-- Unseen menus/forms not located inside of navbar -->
      <div id="unseen">
        <!-- Modal Structure delete -->
        <% include ../partials/admin/deleteMessageModal %>
      </div> <!-- end Unseen menus/forms -->
      <div class="row">
        <div class="col s12 m2">
          <div id="filters"></div>
        </div>
        <div class="col s12 m8">
          <form id="search-form">
            <div class="input-field">
              <i class="material-icons prefix grey-text text-darken-3">search</i>
              <input id="search" type="text" name="search" class="validate center-align grey-text text-darken-3" autocomplete="off">
              <label for="search">Enter Search</label>
            </div>
          </form>
          <div id='results' class='row'></div>
          <ul class="pagination"></ul>
        </div>
      </div>
    </main>

    <% include ../partials/copyright %>

    <!-- Scripts -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/public/scripts/adminScripts/messageToolScript.js"></script>
  </body>
</html>
