<% include ../partials/headerOpen %>

<% include ../partials/headerClose %>
<% include ../partials/navbar-main %>

<main class="container">
  <header class="container">
    <h1 class="grey-text text-darken-3"><i class="medium material-icons">account_circle</i> User Info</h1>
  </header>

  <div class="container">
    <div class="row">
      <div class="col s12">
        <p>Thank you for creating a user profile here at The Ernest Cates Project! If you have been redirected here, you may be wondering "why?"</p>
        <p>Luckily for you, that's an easy question to answer: <strong>Your profile does not have administrative privileges</strong>. Unfortunately this means you won't be able to edit anything on this website until an administrator gives you access. That being said, administrator privileges are reserved for one person at this moment. If you are not Ernest Cates, you won't be able to access the rest of the website.</p>
        <p>Don't fret! You can still check out all of the cool content on <a href="/">the main website</a>. That means you still have plenty to keep you occupied and satisfied!</p>
        <p>Thanks again for being supportive and wanting to keep up to date with everything possible! It means a lot that you want to sign up with The Ernest Cates Project. Be sure to check out some of the <a href="/blog">new blogs</a> that are posted frequently!</p>
        <p>Best Regards,<br>Ernest Cates</p>
      </div>
    </div>
  </div>
</main>

<% include ../partials/jquery %>
<% include ../partials/flash %>
<% include ../partials/footer %>
