<!DOCTYPE html>
<html>
  <head>
    <title>JCMusic Login</title>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3e2723">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="/johnnyPublic/johnnyStyles/johnny-styles.css">
  </head>
  <body class="black">
    <!-- Header navbar; Main site navigation -->
    <header>
      <nav class="brown darken-4">
        <div class="nav-wrapper container">
          <a href="/demo/johnny" class="brand-logo left hide-on-med-only">Go Home</a>
        </div>
      </nav>
    </header> <!-- end Nav -->

    <main class="container">
      <header class="container">
        <h1 class="white-text"><i class="medium material-icons">account_circle</i> Login Portal</h1>
      </header>

      <div class="container">
        <div class="row">
          <form class="col s12" action="/demo/johnny/login" method="POST">
            <div class="row">
              <div class="input-field col s12">
                <input id="username" class="white-text validate" type="text" name="username" placeholder="username">
                <label for="username">Username</label>
              </div>
            </div>
            <div class="row">
              <div class="input-field col s12">
                <input id="password" class="white-text validate" type="password" name="password" placeholder="password">
                <label for="password">Password</label>
              </div>
            </div>
            <button class="btn waves-effect waves-light hoverable" type="submit" name="action">Login</button>
          </form>
        </div>
      </div>
    </main>

    <% include ../../../demos/johnny/views/johnnyPartials/jcJquery %>
    <% include ../../../demos/johnny/views/johnnyPartials/jcFlash %>
  <body>
<html>
