<div class="audio-player">
  <div class="card blue-grey darken-3">
    <div class="card-content">
      <span class="card-title grey-text text-lighten-3">Audio Player v0.08</span>
      <ul class="audio-control collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header grey darken-3">
            <div class="grey-text text-lighten-3 valign-wrapper">
              <i class="material-icons">menu</i>
              <span class="audio-control label" for="title">(Click To Select Song)</span>
            </div>
          </div>
          <div class="collapsible-body grey darken-2">
            <ul class="audio-control list">
              <li>
                <a class="audio-control select grey-text text-lighten-3" href="#!" for="Blackout">
                  <div class="card-panel hoverable blue-grey darken-4">
                    <h5 class="valign-wrapper">
                      <i class="audio-control label material-icons" for="playing"></i>
                      Blackout
                    </h5>
                    <p><em>Abstractionist Single - Abstractionist</em></p>
                  </div>
                </a>
                <audio src="/media/music/Blackout.mp3" name="Blackout"></audio>
              </li>
              <li>
                <a class="audio-control select grey-text text-lighten-3" href="#!" for="From Dust To Form">
                  <div class="card-panel hoverable blue-grey darken-4">
                    <h5 class="valign-wrapper">
                      <i class="audio-control label material-icons" for="playing"></i>
                      From Dust To Form
                    </h5>
                    <p><em>From Dust EP - Evidence Theory</em></p>
                  </div>
                </a>
                <audio src="/media/music/From Dust To Form Mix 3.mp3" name="From Dust To Form"></audio>
              </li>
              <li>
                <a class="audio-control select grey-text text-lighten-3" href="#!" for="Never Let Go">
                  <div class="card-panel hoverable blue-grey darken-4">
                    <h5 class="valign-wrapper">
                      <i class="audio-control label material-icons" for="playing"></i>
                        Never Let Go
                    </h5>
                    <p><em>ECP - The Ernest Cates Project</em></p>
                  </div>
                </a>
                <audio src="/media/music/NeverLetGo.mp3" name="Never Let Go"></audio>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </div>
    <div class="card-action">
      <div class="range-field">
        <input class="audio-control time" type="range" min="0" max="100" value="0">
        <div class="overlay audio-control progress-bar red" style="width: 0%; height: 4px;"></div>
      </div>
      <div class="valign-wrapper">
        <a href="#!" class="audio-control skip" data-skip="prev"><i class="small material-icons">skip_previous</i></a>
        <a href="#!" class="audio-control play"><i class="small material-icons">play_arrow</i></a>
        <a href="#!" class="audio-control skip" data-skip="next"><i class="small material-icons">skip_next</i></a>
        <span class="audio-control label grey-text text-lighten-3" for="time">0:00 / 0:00</span>
        <div class="hide-on-small-only valign-wrapper pull-right">
          <a href="#!" class="audio-control mute"><i class="small material-icons">volume_up</i></a>
          <span class="range-field">
            <input class="audio-control volume" type="range" min="0" max="100" value="100">
          </span>
        </div>
      </div>
      <div class="hide-on-med-and-up valign-wrapper">
        <a href="#!" class="audio-control mute"><i class="small material-icons">volume_up</i></a>
        <span class="range-field">
          <input class="audio-control volume" type="range" min="0" max="100" value="100">
        </span>
      </div>
    </div>
  </div>
</div>
