<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About The Ernest Cates Project</h5>
        <p class="grey-text text-lighten-4">The Ernest Cates Project started out as a music project and quickly turned into an "everything can be showcased" ambition. From music to code, podcasts to blogposts, and the occasional video here and there, a multitude of subjects are covered and displayed here on the ECProject.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Check out the ECProject on:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/ernestcatesproject/"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-youtube"></i> Youtube</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="https://soundcloud.com/ernest-cates"><i class="fa fa-soundcloud"></i> Soundcloud</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright - The ECProject
        <div class="right">
          <a class="grey-text text-lighten-4" href="/">Home</a>
          <span>|</span>
          <a class="grey-text text-lighten-4" href="/blog">Blogs</a>
          <span>|</span>
          <a class="grey-text text-lighten-4" href="/about">About</a>
        </div>
    </div>
  </div>
</footer>
