<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">About The Ernest Cates Project</h5>
        <p class="grey-text text-lighten-4">The Ernest Cates Project is a music project featuring songs and creations by Ernest Cates. From original content to music reviews, the ECProject has fresh material for everyone to check out.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Check out Ernest Cates on:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/ernest.cates" target="_blank"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.youtube.com/channel/UCrxxMxVz9Trg5d85m2C1PCg?view_as=subscriber" target="_blank"><i class="fa fa-youtube"></i> Youtube</a></li>
          <li><a class="grey-text text-lighten-3" href="https://twitter.com/stormsntides" target="_blank"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/stormsntides/" target="_blank"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="https://soundcloud.com/ernest-cates" target="_blank"><i class="fa fa-soundcloud"></i> Soundcloud</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018-2020 Copyright - The ECProject
        <div class="right">
          <a class="grey-text text-lighten-4" href="/">Home</a>
          <span>|</span>
          <a class="grey-text text-lighten-4" href="/blog">Updates</a>
          <span>|</span>
          <a class="grey-text text-lighten-4" href="/schedule">Schedule</a>
          <span>|</span>
          <a class="grey-text text-lighten-4" href="/user">Login</a>
        </div>
    </div>
  </div>
</footer>
