<div class="card-panel blue-grey darken-3">
  <ul>
    <li class="audio-player">
      <a class="audio-control select grey-text text-lighten-3" href="#!" for="August Love">
        <p class="valign-wrapper">
          <i class="audio-control label material-icons" for="playing"></i>
          <span>August Love - <em>JCMusic</em></span>
        </p>
      </a>
      <audio src="/media/johnnyMedia/music/August_Love_Rough_180_cut.mp3" name="August Love"></audio>
      <div class="valign-wrapper">
        <a href="#!" class="audio-control play"><i class="small material-icons">play_arrow</i></a>
        <input class="audio-control time custom-range" type="range" min="0" max="100" value="0" data-display="time">
      </div>
      <span class="audio-control label grey-text text-lighten-3" for="time">0:00 / 0:00</span>
    </li>
    <li class="divider"></li>
    <li class="audio-player">
      <a class="audio-control select grey-text text-lighten-3" href="#!" for="Pink Dreams">
        <p class="valign-wrapper">
          <i class="audio-control label material-icons" for="playing"></i>
          <span>Pink Dreams - <em>JCMusic</em></span>
        </p>
      </a>
      <audio src="/media/johnnyMedia/music/Pink_Dreams_Rough_2.mp3" name="Pink Dreams"></audio>
        <a href="#!" class="audio-control play"><i class="small material-icons">play_arrow</i></a>
        <input class="audio-control time custom-range" type="range" min="0" max="100" value="0" data-display="time">
      <span class="audio-control label grey-text text-lighten-3" for="time">0:00 / 0:00</span>
    </li>
    <li class="divider"></li>
    <li class="audio-player">
      <a class="audio-control select grey-text text-lighten-3" href="#!" for="Riding Coast To Coast">
        <p class="valign-wrapper">
          <i class="audio-control label material-icons" for="playing"></i>
          <span>Riding Coast To Coast - <em>JCMusic</em></span>
        </p>
      </a>
      <audio src="/media/johnnyMedia/music/Riding_Coast_to_Coast_Demo_1.mp3" name="Riding Coast To Coast"></audio>
      <div class="valign-wrapper">
        <a href="#!" class="audio-control play"><i class="small material-icons">play_arrow</i></a>
        <input class="audio-control time custom-range" type="range" min="0" max="100" value="0" data-display="time">
      </div>
      <span class="audio-control label grey-text text-lighten-3" for="time">0:00 / 0:00</span>
    </li>
  </ul>
</div>
