<div class="card-panel see-through">
  <ul>
    <li class="audio-player">
      <a class="audio-control play grey-text text-lighten-3" href="#!" for="August Love">
        <p>
          <span class="valign-wrapper"><i class="play-icon small material-icons blue-text text-lighten-2">play_arrow</i>   August Love - <em>JCMusic</em></span>
        </p>
      </a>
      <audio src="/public/media/johnnyMedia/music/August_Love_Rough_180_cut.mp3" name="August Love"></audio>
      <input class="audio-control time custom-range" type="range" min="0" max="100" value="0" data-track-class="grey darken-2" data-progress-class="blue lighten-2" data-thumb-class="blue lighten-2" data-display="time">
      <span class="audio-control label grey-text text-lighten-3" for="time">-:-- / -:--</span>
    </li>
    <li class="grey darken-4 divider space-top"></li>
    <li class="audio-player">
      <a class="audio-control play grey-text text-lighten-3" href="#!" for="Pink Dreams">
        <p>
          <span class="valign-wrapper"><i class="play-icon small material-icons blue-text text-lighten-2">play_arrow</i>   Pink Dreams - <em>JCMusic</em></span>
        </p>
      </a>
      <audio src="/public/media/johnnyMedia/music/Pink_Dreams_Rough_2.mp3" name="Pink Dreams"></audio>
      <input class="audio-control time custom-range" type="range" min="0" max="100" value="0" data-track-class="grey darken-2" data-progress-class="blue lighten-2" data-thumb-class="blue lighten-2" data-display="time">
      <span class="audio-control label grey-text text-lighten-3" for="time">-:-- / -:--</span>
    </li>
    <li class="grey darken-4 divider space-top"></li>
    <li class="audio-player">
      <a class="audio-control play grey-text text-lighten-3" href="#!" for="Riding Coast To Coast">
        <p>
          <span class="valign-wrapper"><i class="play-icon small material-icons blue-text text-lighten-2">play_arrow</i>   Riding Coast To Coast - <em>JCMusic</em></span>
        </p>
      </a>
      <audio src="/public/media/johnnyMedia/music/Riding_Coast_to_Coast_Demo_1.mp3" name="Riding Coast To Coast"></audio>
      <input class="audio-control time custom-range" type="range" min="0" max="100" value="0" data-track-class="grey darken-2" data-progress-class="blue lighten-2" data-thumb-class="blue lighten-2" data-display="time">
      <span class="audio-control label grey-text text-lighten-3" for="time">-:-- / -:--</span>
    </li>
  </ul>
</div>
