<footer class="page-footer grey darken-4">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Johnny Cotten Music</h5>
        <p class="grey-text text-lighten-4">Founded, owned, and operated by Johnny Cotten.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <h5 class="white-text">Check out Johnny Cotten Music on:</h5>
        <ul>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-facebook"></i> Facebook</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-youtube"></i> Youtube</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-twitter"></i> Twitter</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-instagram"></i> Instagram</a></li>
          <li><a class="grey-text text-lighten-3" href="#!"><i class="fa fa-soundcloud"></i> Soundcloud</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      © 2018 Copyright - <a class="grey-text text-lighten-4" href="#top">Johnny Cotten Music</a>
        <div class="right">
          <a class="grey-text text-lighten-4" href="#portfolio">Music</a>
          <span>|</span>
          <a class="grey-text text-lighten-4" href="#about">About</a>
          <span>|</span>
          <a class="grey-text text-lighten-4" href="#contact">Contact</a>
        </div>
    </div>
  </div>
</footer>
