<li class="no-padding">
  <ul class="collapsible collapsible-accordion">
    <li>
      <a class="collapsible-header">Admin Tools<i class="material-icons">arrow_drop_down</i></a>
      <div class="collapsible-body">
        <ul>
          <% include ./adminToolsBody %>
        </ul>
      </div>
    </li>
  </ul>
</li>
