<% include ./partials/headerOpen %>

<link rel="stylesheet" type="text/css" href="/public/stylesheets/home-styles.css">

<% include ./partials/headerClose %>

<div class="full-height flex-center">
  <a class="flow-text landing-link" href="/blog">Blogs</a>
  <a class="flow-text landing-link" href="/about">About</a>
  <a class="flow-text landing-link dropdown" data-target="demo" href="#!">Demos</a>
  <!-- Cascade dropdown -->
  <div class="demo slide-out">
    <div class="flex-center">
      <a class="flow-text landing-link" href="/demo/johnny"><i class="material-icons">chevron_right</i> Johnny</a>
      <a class="flow-text landing-link" href="/demo/product"><i class="material-icons">chevron_right</i> Product</a>
    </div>
  </div>
  <% if(userType === "admin") { %>
    <a class="flow-text landing-link dropdown" data-target="admin" href="#!">Admin</a>
    <!-- Cascade dropdown -->
    <div class="admin slide-out">
      <div class="flex-center">
        <a class="flow-text landing-link" href="/message"><i class="material-icons">chevron_right</i> Inbox</a>
        <a class="flow-text landing-link" href="/user/logout"><i class="material-icons">chevron_right</i> Logout</a>
      </div>
    </div>
  <% } else if(userType === "user") { %>
    <a class="flow-text landing-link dropdown" data-target="user" href="#!">User</a>
    <!-- Cascade dropdown -->
    <div class="user slide-out">
      <div class="flex-center">
        <a class="flow-text landing-link" href="/user/logout"><i class="material-icons">chevron_right</i> Logout</a>
      </div>
    </div>
  <% } %>
</div>

<% include ./partials/jquery %>

<script>
  $(function(){
    $(".dropdown").on("click", function(){
      let dataTarget = "." + $(this).data("target") + ".slide-out";
      $(dataTarget).slideToggle();
    });
  });
</script>

<% include ./partials/flash %>
<% include ./partials/footer %>
