.audio-control {
  cursor: pointer;
}
.audio-progress {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  height: 20px;
  cursor: pointer;
}
.audio-progress:hover {
  transform: scaleY(2);
  transition: all 0.1s;
}
.inflate {
  transform: scaleY(2);
  transition: all 0.1s;
}
.audio-buffered {
  height: 3px;
  position: relative;
  background: #999;
  transition: all 0.1s;
}
.audio-buffered-bar {
  display: block;
  height: 100%;
  background-color: #bbb;
  width: 0;
}
.audio-played {
  margin-top: -3px;
  height: 3px;
  position: relative;
  transition: all 0.1s;
}
.audio-played-bar {
  display: block;
  height: 100%;
  background-color: #d00;
  width: 0;
}
.audio-label[name='time-display'] {
  position: absolute;
  color: #fff;
  padding: 0 5px;
  border-radius: 5px;
  background-color: #999;
}
