body {
	display: flex;
	flex-direction: column;
	min-width: 100vw;
	min-height: 100vh;
	padding: 0;
	margin: 0;
}

main {
	flex: 1 0 auto;
}

.pre-wrap {
	white-space: pre-wrap;
}

.margin-left {
	margin-left: auto;
}
