.flex-description {
	display: flex;
	flex-direction: column;
}

.fixed-height {
	height: 100%;
}

.main-content {
	margin-bottom: 50px;
}

.brace {
	border: 2px solid black;
	margin-top: 2.5em;
	border-radius: 5px;
}

.brace > .brace-title {
	position: relative;
	top: -0.2em;
	margin-bottom: -2.5em;
	text-align: center;
}

.brace > .brace-title > * {
	display: inline-block;
	position: relative;
	top: -0.7em;
	font-size: 2.6em;
	padding: 0 0.25em;
	border-left: 2px solid black;
	border-right: 2px solid black;
	border-radius: 5px;
}

.brace > .brace-content {
	padding: 0 0.7em;
}

.pin-top {
	position: sticky;
	top: 4.6em;
}

.pin-bottom {
	position: relative;
}

.pinned {
	position: fixed !important;
}

.push-down {
	margin-top: 15px;
}

#website-image-list {
	display: flex;
	flex-wrap: wrap;
}

#website-image-list > li {
	width: 180px;
	margin: 0 auto;
}

#website-image-list img {
	border-radius: 5px;
	width: 100%;
	height: 170px;
}

#profile {
	margin-top: -6px;
	margin-bottom: -15px;
}
