<!DOCTYPE html>
<html>
  <head>
    <title>Johnny Cotten Music</title>
    <meta name="viewport" charset="utf-8" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#3e2723">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/public/stylesheets/general-styles.css">
    <link rel="stylesheet" href="/public/stylesheets/johnnyStyles/johnny-styles.css">
    <link rel="stylesheet" href="/public/stylesheets/musicStyles/audioPlayer.css">
    <link rel="stylesheet" href="/public/customLibraries/rangeInput/rangeStyle.css">
  </head>
  <body class="black">
    <!-- Header navbar; Main site navigation -->
    <header>
      <nav id="main-navbar">
        <div class="navbar-fixed">
          <nav class="brown darken-4">
            <div class="nav-wrapper container">
              <a href="#top" class="brand-logo center hide-on-med-only"><span class="hide-on-med-and-up">JCMusic</span><span class="hide-on-small-only">Johnny Cotten Music</span></a>
              <a href="#top" class="brand-logo left hide-on-small-only hide-on-large-only">Johnny Cotten Music</a>
              <a href="#" data-activates="mobile-nav" class="button-collapse right hide-on-med-and-up"><i class="material-icons">menu</i></a>
            </div>
          </nav>
        </div>
        <!-- The side nav must be outside of the tag with the navbar-fixed class; for some reason it breaks it -->
        <ul class="side-nav see-through" id="mobile-nav">
          <li><a href="#top" class="white-text"><i class="white-text material-icons">chevron_right</i> Johnny Cotten</a></li>
          <li><a href="#about" class="white-text"><i class="white-text material-icons">chevron_right</i> About</a></li>
          <li><a href="#music" class="white-text"><i class="white-text material-icons">chevron_right</i> Music</a></li>
          <li><a href="#contact" class="white-text"><i class="white-text material-icons">chevron_right</i> Contact</a></li>
        </ul>
      </nav>
    </header> <!-- end Nav -->
    <!-- Content down here -->
    <main class="flex-container">
      <div class="main-content">
        <div id="top" class="parallax-container section scrollspy">
          <div class="parallax"><img src="/public/media/johnnyMedia/images/jc_studio_standing.jpg"></div>
        </div>
        <div id="about" class="brown darken-3 section scrollspy">
          <div class="row">
            <div class="col s12 m4 l3">
              <img class="responsive-img" src="/public/media/johnnyMedia/images/jc_studio_pose.jpg">
            </div>
            <div class="col s12 m8 l9">
              <p class="grey-text text-lighten-3" style="white-space: pre-wrap">
                Johnny Cotten is a music producer from Nashville, TN. He has years of experience creating and designing audio that fits anyone's tastes. Drawing influence from many artists in the genres of Rock, Country, Electronic, and Metal, he has the ability to develop sounds that blend together and capture the listener's attention.

                As a creator, he is now building and licensing his music to use in any project. If a driving Rock rhythm is what you need or a relaxing Electronic beat is required, the choices are limitless as to what Johnny Cotten can provide. Feel free to <a href="#contact">contact</a> him for pricing and services as well as check out some of the <a href="#music">samples</a> that are available to listen to.
              </p>
            </div>
          </div>
        </div>
        <div id="music" class="parallax-container section scrollspy">
          <div class="parallax"><img src="/public/media/johnnyMedia/images/jc_guitar_bw.jpg"></div>
          <div class="container">
            <% include ../partials/johnnyPartials/jcAudioPlayer %>
          </div>
        </div>
        <div id="contact" class="brown darken-3 section scrollspy">
          <div class="row">
            <div class="col s12">
              <h2 class="grey-text text-lighten-3">Contact Me</h2>
              <p class="flow-text grey-text text-lighten-3">If you need pricing on licensing or audio-production. I check every message and will get back to you as soon as I can.</p>
            </div>
          </div>
          <form action="">
            <div class="row">
              <div class="col s12 m6">
                <div class="input-field">
                  <input type="text" id="contact-name" class="validate" name="contact[name]">
                  <label for="contact-name">Name</label>
                </div>
              </div>
              <div class="col s12 m6">
                <div class="input-field">
                  <input type="email" id="contact-email" class="validate" name="contact[email]">
                  <label for="contact-email">Email</label>
                </div>
              </div>
              <div class="col s12">
                <div class="input-field">
                  <textarea id="contact-message" class="materialize-textarea" name="contact[message]"></textarea>
                  <label for="contact-message">Message</label>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="parallax-container">
          <div class="parallax"><img src="/public/media/johnnyMedia/images/jc_studio_sitting.jpg"></div>
          <div class="quote">
            <div class="row">
              <div class="col s12">
                <h2 class="grey-text text-lighten-3 right-align">"Sometimes, you just gotta give'er."</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="side-content hide-on-small-only">
        <div class="scroll-sidebar">
          <ul class="section table-of-contents">
            <li><a href="#top">Johnny Cotten</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#music">Music</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </main>

    <% include ../partials/johnnyPartials/jcCopyright %>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="/howler/howler.js"></script>

    <script>
      $(function(){
        $(".button-collapse").sideNav({
          menuWidth: 240,
          edge: "right",
          closeOnClick: true,
          draggable: true
        });
        $(".dropdown-button").dropdown();
        $('.modal').modal();
        $('.parallax').parallax();
        $('.scrollspy').scrollSpy({
          scrollOffset: 55
        });
      });
    </script>

    <script src="/public/customLibraries/rangeInput/rangeScript.js"></script>
    <script src="/public/scripts/musicScripts/audioPlayer.js"></script>
    <!-- <script src="/public/scripts/musicScripts/howlerPlayer.js"></script> -->

<% include ../partials/footer %>
