<% include ../partials/headerOpen %>

<link rel="stylesheet" type="text/css" href="/public/stylesheets/home-styles.css">

<% include ../partials/headerClose %>
<% include ../partials/navbar-main %>

<!-- Content down here -->
<main class="container flow-text">
  <div class="row">
    <div class="col s12 m9 offset-m1">
      <div id="top" class="section scrollspy">
        <div class="card-panel">
          <div id="profile" class="row">
            <div class="col s12 l8">
              <img class="responsive-img" src="/public/media/images/ec_reelcafe.jpg">
            </div>
            <div class="col s12 l4">
              <ul>
                <li>Musician</li>
                <li>Artist</li>
                <li>Creator</li>
                <li>Entertainer</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div id="about" class="section scrollspy">
        <div class="brace">
          <div class="brace-title">
            <span class="white">About</span>
          </div>
          <div class="brace-content">
            <p>I am a musician and songwriter that creates musical content primarily in the metal genre. I have been involved with music for nearly two decades and spent most of that time playing guitar in various groups. My talents are not limited to guitar and I am frequently behind the mic on stage and in the studio. When I am not playing or working on music, I can be found streaming video games or checking out the new local cuisine.</p>
            <p>I want to use this website as a way to showcase my work and ideas about music. I will be writing about my experiences in music which can be found on my <a href="/blog">updates</a> page. Each post will contain excerpts about my own goals, works, and events along with music reviews and links to podcasts/videos. In general, anything related to music will be posted on this site.</p>
            <p>My music can be enjoyed down below in the <a href="#music">music section</a>. Any shows and events that I have coming up can be viewed over on my <a href="/schedule">current schedule page</a> which will be updated frequently. And most important of all, anyone can get in <a href="#contact">contact with me</a> down below. I am happy to talk about anything to do with music, video games, or life experiences.</p>
            <p>Thanks for taking the time to check out everything I have going on. I look forward to hearing from you!</p>
            <p><em>-Ernest Cates</em></p>
          </div>
        </div>
      </div>
      <div id="music" class="section scrollspy">
        <div class="brace">
          <div class="brace-title">
            <span class="white">Music</span>
          </div>
          <div class="brace-content push-down">
            <iframe width="100%" height="300" scrolling="no" frameborder="no" allow="autoplay" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/913657513&color=%23ff5500&auto_play=false&hide_related=false&show_comments=true&show_user=true&show_reposts=false&show_teaser=true&visual=true"></iframe>
          </div>
        </div>
      </div>
      <div id="contact" class="section scrollspy">
        <div class="brace">
          <div class="brace-title">
            <span class="white">Contact</span>
          </div>
          <div class="brace-content">
            <p>If you would like to collaborate on a project, have some other ideas for content creation, or just want to chat, then please send me a message using the contact form below. I will respond as soon as I am able to. Thank you!</p>
            <p><strong><em>Please do not send spam messages. I am happy to reply to serious inquiries.</em></strong></p>
            <% include ../partials/message/messageForm %>
          </div>
        </div>
      </div>
    </div>
    <div class="col hide-on-small-only m2 pin-top">
      <ul class="section table-of-contents">
        <li><a href="#top">Ernest Cates</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#music">Music</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
</main>

<div class="fixed-action-btn toolbar hide-on-med-and-up">
  <a class="btn-floating btn-large deep-orange darken-2">
    <i class="large material-icons">menu</i>
  </a>
  <ul>
    <li class="waves-effect waves-light"><a href="#top">Ernest Cates</a></li>
    <li class="waves-effect waves-light"><a href="#about">About</a></li>
    <li class="waves-effect waves-light"><a href="#music">Music</a></li>
    <li class="waves-effect waves-light"><a href="#contact">Contact</a></li>
  </ul>
</div>

<% include ../partials/copyright %>
<% include ../partials/jquery %>
<% include ../partials/flash %>

<script>
  $(function(){
    $('.scrollspy').scrollSpy({
      scrollOffset: 70
    });
    $(".info-hide").on("click", function(){
      let dataTarget = "#" + $(this).data("target");
      $(dataTarget).slideToggle();
    });
  });
</script>

<% include ../partials/footer %>
