.pin-top {
	position: sticky;
	top: 4.6em;
}

.pin-bottom {
	position: relative;
}

.pinned {
	position: fixed !important;
}

.flex-container {
	display: flex;
	flex-flow: row nowrap;
}

.full-width {
	width: 100%;
}

.main-content {
	width: 100%;
}

.side-content {
	height: 100%;
	width: 235px;
}

.scroll-sidebar {
  position: fixed;
  top: 50px;
  right: 40px;
}
