<% include ../partials/headerOpen %>

<% include ../partials/headerClose %>
<% include ../partials/navbar-main %>

<main>
  <div class="container">
    <form>
      <div class="row">
        <div class="input-field col s12 m10">
          <input id="title" name="blogpost[title]" type="text" class="validate" required>
          <label for="title">Blog Title</label>
        </div>
        <div class="input-field col s12 m2">
          <input id="order" name="blogpost[order]" type="number" min="0">
          <label for="order">Order</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <textarea id="summary" name="blogpost[summary]" class="materialize-textarea" data-length="140" maxlength="140"></textarea>
          <label for="summary">Summary</label>
        </div>
        <div class="input-field col s12">
          <textarea id="full" name="blogpost[full]" class="materialize-textarea"></textarea>
          <label for="full">Blog Content</label>
        </div>
      </div>
    </form>
  </div>
</main>

<% include ../partials/copyright %>
<% include ../partials/jquery %>
<% include ../partials/footer %>