input[type=range].custom-range {
  position: relative;
  z-index: 510;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

.custom-range-wrapper {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  position: relative; /*needed to allow dynamic width of absolute position range-track*/
}

.custom-range-wrapper span.thumb {
  display: none; /*remove materialize css range thumb*/
}

.custom-range-wrapper .range-track {
  box-sizing: border-box;
  position: absolute;
  left: 0;
  z-index: 500;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  height: 3px;
  width: 100%;
  transition: height 0.1s;
  background-color: #aaa;
}

.custom-range-wrapper .range-progress {
  background-color: #f00;
  height: 100%;
}

.custom-range-wrapper .range-thumb {
  background-color: #f00;
  margin-left: -1px;
  height: 0;
  width: 0;
  border-radius: 50%;
  transition: height 0.1s, width 0.1s;
}

input[type=range].custom-range:hover + .range-track,
input[type=range].custom-range.active-range + .range-track {
  height: 5px;
  transition: height 0.1s;
}

input[type=range].custom-range:hover + .range-track > .range-thumb,
input[type=range].custom-range.active-range + .range-track > .range-thumb {
  height: 12px;
  width: 12px;
  transition: height 0.1s, width 0.1s;
}

/* Range Input thumb styles */

input[type=range].custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  background: none;
  margin-top: -4px;
}

input[type=range].custom-range::-moz-range-thumb {
  border: none;
  background: none;
}

input[type=range].custom-range::-ms-thumb {
  border: none;
  background: none;
}

/* Range Input track styles */

input[type=range].custom-range::-webkit-slider-runnable-track {
  width: 100%;
  border: none;
  background: transparent;
  color: transparent;
}

input[type=range].custom-range:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range].custom-range::-moz-range-track {
  width: 100%;
  border: none;
  background: transparent;
  color: transparent;
}

input[type=range].custom-range:focus::-moz-range-track {
  background: transparent;
}

input[type=range].custom-range::-ms-track {
  width: 100%;
  border: none;
  background: transparent;
  color: transparent;
}

input[type=range].custom-range::-ms-fill-lower {
  background: transparent;
}

input[type=range].custom-range:focus::-ms-fill-lower {
  background: transparent;
}

input[type=range].custom-range::-ms-fill-upper {
  background: transparent;
}

input[type=range].custom-range:focus::-ms-fill-upper {
  background: transparent;
}
