input[type=range].custom-range {
  position: relative;
  z-index: 5010;
  box-sizing: border-box;
  border: none;
  margin: 0;
  padding: 0;
}

.custom-range-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.custom-range-container span.thumb {
  display: none; /*remove materialize css range thumb*/
}

.custom-range-container .range-track {
  box-sizing: border-box;
  position: absolute;
  z-index: 5000;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.custom-range-container .range-prev {
  background-color: #f00;
  height: 3px;
}

.custom-range-container .range-next {
  background-color: #aaa;
  height: 3px;
}

/* Range Input thumb styles */

input[type=range].custom-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f00;
  margin-top: -4px;
}

input[type=range].custom-range::-moz-range-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f00;
}

input[type=range].custom-range::-ms-thumb {
  border: none;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #f00;
}

/* Range Input track styles */

input[type=range].custom-range::-webkit-slider-runnable-track {
  width: 100%;
  border: none;
  background: transparent;
  color: transparent;
}

input[type=range].custom-range:focus::-webkit-slider-runnable-track {
  background: transparent;
}

input[type=range].custom-range::-moz-range-track {
  width: 100%;
  border: none;
  background: transparent;
  color: transparent;
}

input[type=range].custom-range:focus::-moz-range-track {
  background: transparent;
}

input[type=range].custom-range::-ms-track {
  width: 100%;
  border: none;
  background: transparent;
  color: transparent;
}

input[type=range].custom-range::-ms-fill-lower {
  background: transparent;
}

input[type=range].custom-range:focus::-ms-fill-lower {
  background: transparent;
}

input[type=range].custom-range::-ms-fill-upper {
  background: transparent;
}

input[type=range].custom-range:focus::-ms-fill-upper {
  background: transparent;
}
