<form id="delete-form" class="modal" method="POST">
  <div class="modal-content">
    <h2 class="red-text center-align">WARNING!</h2>
    <hr>
    <h5 class="center-align">You are about to delete <em>"<span id="delete-blogpost-title"></span>"</em>.</h5>
    <p class="center-align"><em>"<span id="delete-blogpost-summary"></span></em>"</p>
    <p class="center-align">This action is <strong>PERMANENT</strong> and cannot be undone! Are you sure you want to delete this post?</p>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Confirm</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancel</a>
  </div>
</form> <!-- end Modal delete -->
