



<!-- FIX THIS SO IT TAKES: TITLE, CREATOR, DESCRIPTION, FILENAME -->

<form id="add-audio-form" class="modal" action="/admin/blog/" method="POST">
  <div class="modal-content">
    <div class="row">
      <div class="col s12 m10">
        <div class="input-field">
          <input name="audio[title]" type="text" class="validate">
          <label for="audio[title]">Name</label>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="input-field">
          <input name="audio[order]" type="number" min="0">
          <label for="audio[order]">Order</label>
        </div>
      </div>
      <div class="col s12">
        <div class="input-field">
          <textarea name="audio[summary]" class="materialize-textarea" data-length="140" maxlength="140"></textarea>
          <label for="audio[summary]">Summary</label>
        </div>
      </div>
      <div class="col s12">
        <div class="input-field">
          <textarea name="audio[full]" class="materialize-textarea"></textarea>
          <label for="audio[full]">Full</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Add</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancel</a>
  </div>
</form> <!-- end Modal add -->
