<form id="add-form" class="modal" action="/blog/" method="POST">
  <div class="modal-content">
    <div class="row">
      <div class="col s12 m10">
        <div class="input-field">
          <input name="blogpost[title]" type="text" class="validate">
          <label for="blogpost[title]">Name</label>
        </div>
      </div>
      <div class="col s12 m2">
        <div class="input-field">
          <input name="blogpost[order]" type="number" min="0">
          <label for="blogpost[order]">Order</label>
        </div>
      </div>
      <div class="col s12">
        <div class="input-field">
          <textarea name="blogpost[summary]" class="materialize-textarea" data-length="140" maxlength="140"></textarea>
          <label for="blogpost[summary]">Summary</label>
        </div>
      </div>
      <div class="col s12">
        <div class="input-field">
          <textarea name="blogpost[full]" class="materialize-textarea"></textarea>
          <label for="blogpost[full]">Full</label>
        </div>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="modal-action modal-close waves-effect waves-green btn-flat">Add</button>
    <a href="#!" class="modal-action modal-close waves-effect waves-grey btn-flat">Cancel</a>
  </div>
</form> <!-- end Modal add -->
